In [85]:
import pandas as pd
import numpy as np

In [86]:
df = pd.read_csv('purchase_data.csv')
df 
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [126]:
df["SN"].nunique()

576

# Purchasing Analysis (Total)

In [88]:
Unique_Items = len(df["Item ID"].unique())
print(f" Number of Unique Items: {Unique_Items}")

 Number of Unique Items: 183

In [89]:
Average_Price = df['Price'].mean()
Average_Price

3.050987179487176

In [90]:
Number_of_Purchases = df.shape[0]
Number_of_Purchases

780

In [92]:
Total_Players = df["SN"].nunique()
Total_Players

576

In [93]:
Total_Revenue = df["Price"].sum()
Total_Revenue

2379.77

In [94]:
summary_table_df = pd.DataFrame(data= [[Unique_Items, Average_Price, Number_of_Purchases, Total_Revenue]],
                                
                                
                                columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
summary_table_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

# Gender Demographics

In [95]:
df.groupby('Gender')

In [96]:
df1 = df.groupby('Gender').agg({'SN': 'nunique'})

df1.rename(mapper={'SN':'Total Count'}, inplace=True, axis=1)

df1['Percentage of Players'] = df1['Total Count']/df1['Total Count'].sum()*100

df1.round(2)

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [106]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Purchasing Analysis(Gender)

In [107]:
#Run basic calculations to obtain number of unique items, average price, etc.
df2 = df.groupby('Gender').agg({'Purchase ID': 'count', 'Price': ['mean', 'sum'], 'SN': 'nunique',  })

#df4.rename(mapper={'Purchase Count': 'Purchase Count', 'Item ID':'Number of Unique Items','Price': 'Average Price'}, inplace=True, axis=1)

df2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value',  'Avg Total Purchase per Person']

df2['Avg Total Purchase per Person'] = df2['Total Purchase Value']/df2['Avg Total Purchase per Person']

for col in ['Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']:
    
    df2[col] = df2[col].apply(lambda x: ("${0:,.2f}".format(x)))
    
df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [200]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [245]:
df['Age'].groupby(pd.cut(df.Age,bins=17,right=False)).min()

Age
[7.0, 9.235)         7
[9.235, 11.471)     10
[11.471, 13.706)    12
[13.706, 15.941)    14
[15.941, 18.176)    16
[18.176, 20.412)    19
[20.412, 22.647)    21
[22.647, 24.882)    23
[24.882, 27.118)    25
[27.118, 29.353)    28
[29.353, 31.588)    30
[31.588, 33.824)    32
[33.824, 36.059)    34
[36.059, 38.294)    37
[38.294, 40.529)    39
[40.529, 42.765)    41
[42.765, 45.038)    43
Name: Age, dtype: int64

In [188]:
bins = [0, 10, 15, 20, 25, 30, 35, 40]
df3 = df.groupby(pd.cut[df3]'Age')

In [194]:
bins = [0, 10, 15, 20, 25, 30, 35, 40]
#df3["Age1"] = 
pd.cut(df3['Age'],bins)

ValueError: setting an array element with a sequence.

In [153]:
# df3['Percentage of Players'] = 100*df.Age.sum()
# df3

In [ ]:
Categorize the existing players using the age bins. Hint: use pd.cut()

In [ ]:
Calculate the numbers and percentages by age group

In [ ]:
Create a summary data frame to hold the results

In [ ]:
Optional: round the percentage column to two decimal points

In [ ]:
Display Age Demographics Table

# Purchase Analysis(Age)

In [ ]:
#Bin the purchase_data data frame by age

In [ ]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:
#Create a summary data frame to hold the results

In [ ]:
#Optional: give the displayed data cleaner formatting

In [ ]:
#Display the summary data frame

# Top Spenders

In [ ]:
#Run basic calculations to obtain the results in the table below

In [ ]:
#Create a summary data frame to hold the results

In [ ]:
#Sort the total purchase value column in descending order

In [ ]:
#Optional: give the displayed data cleaner formatting

In [ ]:
#Display a preview of the summary data frame

# Most Popular Items

In [ ]:
#Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

In [ ]:
#Create a summary data frame to hold the results

In [ ]:
#Sort the purchase count column in descending order

In [ ]:
#Optional: give the displayed data cleaner formatting

In [ ]:
#Display a preview of the summary data frame

# Most Profitable Items

In [ ]:
#Sort the above table by total purchase value in descending order

In [ ]:
#Optional: give the displayed data cleaner formatting

In [ ]:
#Display a preview of the data frame